[Unit]
Description=Kubernetes Kubelet
Documentation=https://github.com/kubernetes/kubernetes
After=containerd.service
Requires=containerd.service

[Service]
ExecStart=/usr/local/bin/kubelet \
  --config=/var/lib/kubelet/kubelet-config.yaml \
  --kubeconfig=/var/lib/kubelet/kubeconfig \
  --node-ip=172.16.166.131 \
  --fail-swap-on=false \
# Needed otherwise it will issue as controlplane.kubernetes.local
# See Problem 3 in Verification below.
  --hostname-override=controlplane \
  --v=2
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target